@* @{
    ViewData["Title"] = "Index";
}

<main class = "Mensaje pasaste">
    <div>
        <h1>@ViewBag.h1</h1>
        <h2>@ViewBag.h2</h2>
        <a href="@Url.Action(@ViewBag.ProxSala, "Home")"><button>@ViewBag.boton</button></a>
    <div>
</main> *@